{{$MasterName := or .MasterName "master-spark"}}
base:
  image: cgcgbcbc/spark
  dns_search: {{.Domain}}
  restart: always
master:
  extends:
    file: docker-compose.yml
    service: base
  hostname: {{$MasterName}}.{{.Domain}}
  environment:
    SERVICE_NAME: {{$MasterName}}
    SERVICE_TAGS: spark,master

slave:
  extends:
    file: docker-compose.yml
    service: base
  hostname: .{{.Domain}}
  environment:
    master: {{$MasterName}}.{{.Domain}}
    SERVICE_NAME: slave-spark
    SERVICE_TAGS: spark,slave
  command: /worker.sh

shell:
  extends:
    file: docker-compose.yml
    service: base
  command: /spark/bin/spark-shell --master spark://{{$MasterName}}.{{.Domain}}:7077
